.header{
    background-color: var(--primary);
    color: var(--text-over-primary-white);
    height: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    border-radius: 0.8rem;
}