.button {
  border: none;
  background: var(--primary);
  color: var(--text-over-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 30rem;
  padding: 0.8rem;
  border-radius: 0.8rem;
  margin: 2rem 0;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.button svg {
  width: 3.2rem;
  height: 3.2rem;
}

.button:hover {
  filter: brightness(80%);
  transition: all 0.1s ease-in-out;
}

.red {
  background: var(--error);
  color: var(--text-over-error);
}

.orange {
  background: var(--primary);
  color: whitesmoke;
}

.gray {
  background: var(--gray-300);
  color: whitesmoke;
}

.button:disabled {
  background: var(--gray-100);
  color: var(--text-over-primary);
  cursor:not-allowed;
}