.buttonContainer button {
  min-width: auto;
  margin: 0;
  padding: 1rem;
}

.buttonContainer button svg {
  width: 2rem;
  height: 2rem;
}

.notificationsTable {
  overflow-x: auto;
  border-radius: 0.8rem;
}

.notificationsTable table {
  width: 100%;
  min-width: 64rem;
  font-size: 1.4rem;
  border-collapse: collapse;
}

.notificationsTable th {
  background-color: var(--gray-200);
}

.notificationsTable td {
  background-color: var(--gray-100);;
}

.notificationsTable th,
.notificationsTable td {
  border-bottom: 0.2rem solid var(--gray-400);
  text-align: left;
  padding: 1.6rem;
}

.thSort {
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.thSort:hover {
  filter: brightness(80%);
}
